@CHARSET "UTF-8";
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}

.cajamarcafont	{
	font-size: 30px;
	color: #2395e0;
}

.textCaj	{
	font-style: italic;
}