@CHARSET "UTF-8";

  body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
      margin-bot: 20px;
  }
  
  
  #section1 {color: #fff; background-color: #a2cdf4;}
  #section2 {color: #fff; background-color: #b9a4e1;}
  #section3 {color: #fff; background-color: #ffd99f;}
  #section41 {color: #fff; background-color: #93f1ff;}
  #section42 {color: #fff; background-color: #93fbbf;}
  
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
    }
  }
  